@import 'assets/sass/colors.scss';

.col-xl-4 {
  margin-bottom: 15px;
}

.progress-card {
  width: 400px;

  ::ng-deep .mat-card-header-text {
    margin: 0;
  }

  .company-col {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 24px;
    font-weight: 500;
  }

  .title-col {
    padding: 0;
    font-size: 18px;
  }

  .logo {
    height: 150px;
    width: 165px;
  }

  .mat-card-title:hover {
    text-decoration: underline;
  }

  .footer-row {
    margin-left: 0;
    margin-right: 0;
    color: $light-gray;
  
    .updated {
      text-align: right;
    }
  }
  
  .bottom-footer {
    margin-bottom: 10px;
  }
}