<div class="col-xl-4">
  <mat-card class="progress-card">
    <mat-card-header>
      <mat-card-title>{{ appliedJob.title }}</mat-card-title>
      <mat-card-subtitle>{{ appliedJob.company }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="progress-container-{{index}}"></div>
    </mat-card-content>
    <mat-card-footer>
      <div class="row footer-row">
        <div class="col-xl-6">
          Applied: 
        </div>
        <div class="col-xl-6 updated">
          Updated:
        </div>
      </div>
      <div class="row footer-row bottom-footer">
        <div class="col-xl-6">
          {{ appliedJob.dateApplied | date: 'MM/dd/yyyy' }}
        </div>
        <div class="col-xl-6 updated">
          {{ appliedJob.dateUpdated | date: 'MM/dd/yyyy' }}
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
