<div class="col-xl-4">
  <mat-card class="progress-card">
    <mat-card-content>
      <div class="row picture-row">
        <div class="offset-xl-3 col-xl-8">
          <img [src]="appliedJob.imageSource" class="logo">
        </div>
        <div class="col-xl-12 company-col">
          {{ appliedJob.company }}
        </div>
      </div>
      <div class="col-xl-12 title-col">
        {{ appliedJob.title }}
      </div>
      <div class="col-xl-12 status-col">
        {{ statusText }}
      </div>
      <div class="progress-container-{{index}}"></div>
    </mat-card-content>
    <mat-card-footer>
      <div class="row footer-row">
        <div class="offset-xl-6 col-xl-6 view-more">
          <button mat-stroked-button>View More ></button>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
