.title {
  display: flex;

  h2 {
    display: inline-block;
  }

  .close-button {
    margin-left: auto;
    margin-top: -0.25rem;
  }
}

.mat-dialog-actions {
  margin-top: 1rem;
  justify-content: space-between;
}

