<div class="main-content">
  <div class="container-fluid">
    <div class="row mission-row">
      <div class="offset-xl-2 col-xl-4">
        <h1 class="mission-title">Our Mission:</h1>
        <h2 class="mission-value">To humanize the job searching process for applicants through the power of communication.</h2>
      </div>
      <div class="col-xl-4">
        <img src="assets/img/apply-example.PNG">
      </div>
    </div>
    <div class="row services-row">
      <div class="offset-xl-4 col-xl-4">
        <h1 class="why-title">Why Us?</h1>
      </div>
      <div class="row">
        <div class="col-xl-3 why-col"></div>
        <div class="col-xl-3 why-col"></div>
        <div class="col-xl-3 why-col"></div>
      </div>
    </div>
    <div class="row sign-up-row">

    </div>
    <div class="row team-row">

    </div>
    <!-- <div class="row link-row">
      <div class="col-xl-12">
        <a routerLink="/apply" class="apply-link">Apply Demo</a>
        <a routerLink="/progress" class="progress-link">Progress Demo</a>
        <a routerLink="/tailor" class="tailor-link">Tailor Demo</a>
      </div>
    </div> -->
  </div>
</div>
