@import 'assets/sass/colors.scss';

.home-button {
  padding: 2% 6%;
  font-size: 30px;
}

.row {
  margin-bottom: 25px;
  color: map-get($primary, 500);
}

.mission-row {
  padding-top: 1%;
  padding-bottom: 1%;
  background: $off-white-gray;
  text-align: center;

  .mission-title {
    margin-top: 38%;
    font-size: 3rem;
  }

  .mission-value {
    font-size: 38px;
    font-weight: 400;
  }

  img {
    max-width: 70%;
    height: auto;
  }
}

.services-row {
  .why-title {
    font-size: 3rem;
    text-align: center;
  }
}

.example-row {
  text-align: center;
}
