@import 'assets/sass/colors.scss';

.row {
  margin-bottom: 25px;
  color: map-get($primary, 500);
}

.col-xl-12 {
  text-align: center;
}

.mission-row {
  padding-top: 1%;
  padding-bottom: 1%;
  background: $off-white-gray;
  text-align: center;

  .mission-title {
    margin-top: 38%;
    font-size: 3rem;
  }

  .mission-value {
    font-size: 38px;
    font-weight: 400;
  }

  img {
    max-width: 70%;
    height: auto;
  }
}

.services-row {
  .why-title {
    font-size: 3rem;
    text-align: center;
  }

  .why-col {
    
  }
}
  

.link-row {
  font-size: 38px;

  .apply-link, .progress-link {
    margin-right: 2%;
  }

  .apply-link, .progress-link, .tailor-link {
    color: map-get($primary, 500);
    text-decoration: underline;
  }

  .apply-link:hover, .progress-link:hover {
    color: black;
  }
}
