@import 'assets/sass/colors.scss';

.row {
  margin-bottom: 25px;
  color: map-get($primary, 500);
}

.col-xl-12 {
  text-align: center;
}

.mission-row {
  padding-top: 1%;
  padding-bottom: 1%;
  background: $off-white-gray;
  text-align: center;

  .mission-title {
    margin-top: 38%;
    font-size: 3rem;
  }

  .mission-value {
    font-size: 38px;
    font-weight: 400;
  }

  img {
    max-width: 70%;
    height: auto;
  }
}

.services-row {
  .why-title {
    font-size: 3rem;
    text-align: center;
  }
}

.offset-125 {
  margin-left: 12.5%;
}

.why-col {
  text-align: center;

  mat-icon {
    margin-left: -4%;
    font-size: 48px;
  }

  .text-col {
    font-size: 20px;
  }
}

.sign-up-row {
  text-align: center;

  button {
    padding: 2% 6%;
    font-size: 30px;
  }
}

.team-row {
  background: $off-white-gray;
  margin-bottom: 0px;

  .team-title {
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
  }

  .profile-col {
    text-align: center;

    .profile-pic {
      margin-top: 2rem;
      font-size: 12rem;
      margin-left: -30%;
    }  
  }
  
  .profile-desc {
    line-height: 28px;
    margin-top: 2rem;
    font-size: 30px;
  }
}
