<div class="main-content">
  <div class="container-fluid">
    <div class="row title-row">
      <div class="col-xl-12">
        <span>Welcome to Bridge</span>
      </div>
    </div>
    <div class="row mission-row">
      <div class="offset-xl-4 col-xl-4">
        <h1>Our Mission:</h1>
        <h2>To humanize the job searching process for applicants through the power of communication.</h2>
      </div>
    </div>
    <div class="row link-row">
      <div class="col-xl-12">
        <a routerLink="/apply" class="apply-link">Apply Demo</a>
        <a routerLink="/progress" class="progress-link">Progress Demo</a>
      </div>
    </div>
  </div>
</div>
