<div class="main-content">
  <div class="container-fluid">
    <div class="row mission-row">
      <div class="offset-xl-2 col-xl-4">
        <h1 class="mission-title">Our Mission:</h1>
        <h2 class="mission-value">To humanize the job searching process for applicants through the power of communication.</h2>
      </div>
      <div class="col-xl-4">
        <img src="assets/img/apply-example.PNG">
      </div>
    </div>
    <div class="row services-row">
      <div class="offset-xl-4 col-xl-4">
        <h1 class="why-title">Why Us?</h1>
      </div>
    </div>
    <div class="row">
      <div class="offset-125 col-xl-3 why-col">
        <mat-icon>assignment</mat-icon>
        <div class="row">
          <div class="offset-xl-2 col-xl-8 text-col">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </div>
        </div>
      </div>
      <div class="col-xl-3 why-col">
        <mat-icon>contact_phone</mat-icon>
        <div class="row">
          <div class="offset-xl-2 col-xl-8 text-col">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </div>
        </div>
      </div>
      <div class="col-xl-3 why-col">
        <mat-icon>people_outline</mat-icon>
        <div class="row">
          <div class="offset-xl-2 col-xl-8 text-col">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </div>
        </div>
      </div>
    </div>
    <div class="row sign-up-row">
      <div class="offset-xl-4 col-xl-4">
        <button mat-raised-button color="primary">Sign Up Here</button>
      </div>
    </div>
    <div class="row team-row">
      <div class="offset-xl-4 col-xl-4">
        <h1 class="team-title">Meet the Team</h1>
      </div>
    </div>
    <div class="row team-row">
      <div class="col-xl-3 profile-col">
        <mat-icon class="profile-pic">account_circle</mat-icon>
      </div>
      <div class="col-xl-8 profile-desc">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </div>
    </div>
    <div class="row team-row">
      <div class="offset-xl-1 col-xl-8 profile-desc">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </div>
      <div class="col-xl-3 profile-col">
        <mat-icon class="profile-pic">account_circle</mat-icon>
      </div>
    </div>
  </div>
</div>
