mat-expansion-panel {
  width: 100%;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

// .date-category {
//   margin-right: 2rem;
// }
.mat-form-field {
  width: 100%;
}