<mat-toolbar-row>
  <a routerLink="/" class="title-link logo-title">
    <mat-icon class="logo">wb_iridescent</mat-icon>
    <span class="title">Bridge</span>
  </a>


  <!-- <span class="profile-text">Hyun Dong Lee</span>

  <button class="account-icon" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="user-icon">account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Account</button>
    <button mat-menu-item routerLink="/progress">Progress</button>
  </mat-menu> -->
</mat-toolbar-row>
