@import "assets/sass/colors.scss";

.mat-toolbar-row {
  display: inline-flex;
  width: 100%;
  background: map-get($primary, 400);
  vertical-align: middle;
  padding: 1.5rem 5.5rem;
}

.title-link {
  color: white;
  font-size: 26px;
  margin-top: 0.3rem;

  .logo {
    font-size: 20px;
  }
}

app-user-profile {
  margin-top: -0.3%;
  margin-left: auto;
}
