@import "custom-theme.scss";
@import "assets/sass/colors.scss";

html, body { 
  height: 100%;
}

body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mat-app-background {
  background-color: map-get($primary, 500);
}
