@import 'custom-theme.scss';
@import 'assets/sass/cards.scss';

html, body { 
  height: 100%;
}

body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mat-app-background {
  background-color: white;
}