<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 offset-xl-3">
        <mat-card>
          <mat-card-content>

            <div class="row profile-image-row">
              <div class="col-xl-12">
                <mat-icon class="profile-icon">account_circle</mat-icon>
              </div>
            </div>

            <div class="row form-row">
              <div class="offset-xl-2 col-xl-8 personal-col">
                <mat-form-field appearance="outline">
                  <mat-label>Personal Statement (max 150 words)</mat-label>
                  <textarea matInput name="" id="" cols="30" rows="5"></textarea>
                </mat-form-field>
              </div>

              <div class="offset-xl-2 col-xl-8 education-col">
                <mat-form-field class="education-input" appearance="outline">
                  <mat-label>Education</mat-label>
                  <input matInput type="text"/>
                </mat-form-field>
                <mat-form-field class="gpa-input" appearance="outline">
                  <mat-label>GPA</mat-label>
                  <input matInput type="number">
                </mat-form-field>
              </div>

              <div class="offset-xl-2 col-xl-8 experience-col">
                <mat-form-field class="title-input" appearance="outline">
                  <mat-label>Title</mat-label>
                  <input matInput type="text"/>
                </mat-form-field>
                <mat-form-field class="company-input" appearance="outline">
                  <mat-label>Company</mat-label>
                  <input matInput type="text"/>
                </mat-form-field>
                <mat-form-field class="year-input" appearance="outline">
                  <mat-label>Year</mat-label>
                  <input matInput type="number">
                </mat-form-field>
              </div>

              <div class="offset-xl-2 col-xl-8 cert-col">
                <mat-form-field class="cert-input" appearance="outline">
                  <mat-label>Certifications</mat-label>
                  <input matInput type="text">
                </mat-form-field>
              </div>

              <div class="offset-xl-2 col-xl-8 cert-col">
                <mat-form-field class="language-input" appearance="outline">
                  <mat-label>Languages</mat-label>
                  <input matInput type="text">
                </mat-form-field>
              </div>

              <div class="offset-xl-2 col-xl-8 cert-col">
                <mat-form-field class="etc-input" appearance="outline">
                  <mat-label>Hobbies/Interest</mat-label>
                  <input matInput type="text">
                </mat-form-field>
              </div>
            </div>
            

          </mat-card-content>
        </mat-card>
      </div>
    </div>

    

  </div>
</div>