<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Filters</mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field class="date-category">
    <mat-label>Sort by</mat-label>
    <mat-select (selectionChange)="changeDateCategory($event)">
      <mat-option value="updated">Updated Date</mat-option>
      <mat-option value="applied">Applied Date</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="date-sort">
    <mat-label>Sort by Date</mat-label>
    <mat-select [(value)]="dateSort">
      <mat-option value="latest">Latest to Earliest</mat-option>
      <mat-option value="earliest">Earliest to Latest</mat-option>
    </mat-select>
  </mat-form-field>

</mat-expansion-panel>